* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(7,59,76,0.5), rgba(0,0,0,0.9)),
        url("walp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.navbar {
    width: 90%;
    min-height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo {
    color: rgb(140, 216, 140);
    font-size: 76px;
    cursor: pointer;
}

.icon .logo:hover {
    color: rgb(140, 216, 140);
}


.menu ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.menu ul li{
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: beige;
    font-weight: bold;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: rgb(140, 216, 140);
}


.search {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.srch {
    width: 150px;
    max-width: 70vh;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(140, 216, 140);
    color: azure;
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
}

.btn {
    width: 70px;
    height: 40px;
    background: rgb(140, 216, 140);
    font-weight: bold;
    border: 1px solid rgb(140, 216, 140);
    border-radius: 0 5px 5px 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(90deg, rgb(41, 107, 41), rgb(140, 216, 140) );
    color: rgb(41, 107, 41);
}

/* TABLET */
@media (max-width: 1024px) {
    .main{
        background-position: center top;
        background-size: cover;
    }
}

@media (max-width: 760px){
    .main{
        background-position: center top;
        background-attachment: scroll;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .menu ul {
        gap: 15px;
    }
    .search{
        width: 100%;
        justify-content: flex-start;
    }
    .srch{
        width: 70%;
    }
    .btn{
        width: 25%;
    }
}

/* MOBILE */
@media (max-width: 480px) {
    .main{
        background-position: center top;
        background-size: cover;
    }
    .srch{
        width: 65%;
    }
    .btn{
        width: 30%;
    }
}

.hamburger{
    display: none;
    cursor: pointer;
    font-size: 30px;
}
.hamburger i{
    color: rgb(95, 165, 104);
}

@media(max-width: 760px){
    .search{
        width: 100px;
        order: 2;
        margin-bottom: 15px;
        display: flex;
        gap: 5px;
    }
    .search .srch{
        width: 70%;
    }
    .search .btn{
        width: 20px;
    }
    .menu ul{
        position: absolute;
        top: 70px;
        width: 90%;
        max-width: 300px;
        background: black;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        display: none;
        gap: 15px;
        box-shadow: 0 5px 15px black;
        z-index: 100;
        transition: all 0.3s ease;
    }
    .menu ul.active{
        display: flex;
    }
    .menu ul li{
        margin: 10px 0;
        text-align: center;
    }

    .menu ul li a{
        font-size: 18px;
        padding: 10px 0;
        display: block;
    }
}

.content{
    width: 50%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: beige;
    position: relative;
}

.text-section{
    flex: 1;
    min-width: 300px;
}

.text-action h1{
    font-size: 50px;
}

.text-action h1 span{
    color: burlywood;
}

.par{
    margin: 20px 0;
    line-height: 1.5;
}

.cn a{
    text-decoration: none;
    color:beige;
    font-weight: bold;
}
.cn{
    background:rgb(41, 107, 41);
    color: beige;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.cn:hover{
    background: linear-gradient(90deg, rgb(41, 107, 41), beige);
}

@media(max-width: 900px){
    .content{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}